<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SensorbergSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SensorbergSDKTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SensorbergSDK_Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>890D64091C0E0A5D008D39CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8910B33D1C9226720003D02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891A98CF1C0C4F090073E29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DE17841C48F7630079E2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DE17B41C48F8D90079E2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E9BA8F1C45B77900037EAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
